<ion-header>
  <ion-toolbar>
  <!--ion-icon style="color:#0e52d1" slot="start" name="menu"></ion-icon-->
  <ion-title>DigiEyes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/altHome.jpeg"/>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="font-size:20px">
      DigiEyes is an awesome nextgen surveillance system with intelligent
      video and advanced analytics.
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
   <!-- <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
  -->

    <ion-tab-button tab="notifications">
      <ion-icon style="color:#0e52d1" name="notifications"></ion-icon>
      <strong><ion-label>Notifications</ion-label></strong>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon style="color:#0e52d1" name="menu"></ion-icon>
      <strong><ion-label>Dashboard</ion-label></strong>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon style="color:#0e52d1" name="cog"></ion-icon>
      <strong><ion-label>Settings</ion-label></strong>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>
<!--


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
-->